.title{
    -fx-font-size: 2em;
    -fx-text-fill: #4e4406;
    -fx-font-weight: bold;
}

.form_container{
    -fx-background-color: #EEEEEE;
}

.form_container Text{
    -fx-font-size: 1.2em;
    -fx-fill: #4e4406;
}

.form_container VBox{
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #4e4406;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.form_container TextField{
    -fx-pref-height: 250;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA, 3, 0, 0, 3);
}

.form_container Button{
    -fx-background-color: linear-gradient(to right,#f0db4f, #4e4406);
    -fx-pref-width: 100;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #000000;
}

.form_container Button:hover{
    -fx-cursor: hand;
}

.button:hover{
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: linear-gradient(to left ,white,#f0db4f, #f0db4f, #4e4406);
    -fx-background-radius: 14 14 14 14;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to left,white,#f0db4f, #f0db4f, #4e4406);
    -fx-background-radius: 14 14 0 0;
    -fx-background-insets: 0 0 10 0;
}

.table-view .column-header, .table-view .filler{
    -fx-size: 50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: black;
}


.button
{
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
}
.button:hover{
    -fx-background-color : #10165F;
}
.button:pressed
{
    -fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #f0db4f;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}