.title{
    -fx-font-size: 3em;
    -fx-text-fill: #4e4406;
    -fx-font-weight: bold;
}

.title2{
    -fx-font-size: 2.5em;
    -fx-text-fill: #4e4406;
    -fx-font-weight: bold;
}


.form_container{
    -fx-background-color: #EEEEEE;
}

.form_container Text{
    -fx-font-size: 1.2em;
    -fx-fill: #4e4406;
}

.form_container VBox{
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #4e4406;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.form_container TextField{
    -fx-pref-height: 250;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA, 3, 0, 0, 3);
}

.form_container Button{
    -fx-background-color: #4e4406;
    -fx-pref-width: 100;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #000000;
}

.form_container Button:hover{
    -fx-cursor: hand;
}

.button:hover{
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 14 14 14 14;
}

.table-view .column-header-background{
    -fx-background-color: white;
    -fx-background-radius: 14 14 0 0;
    -fx-background-insets: 0 0 10 0;
}

.table-view .column-header, .table-view .filler{
    -fx-size: 50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: black;
}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #f0db4f;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.form_container1{
    -fx-background-color: #f0db4f;
}

.form_container2{
    -fx-background-color: #4e4406;
    -fx-padding: 1;
    -fx-spacing: 1;
    -fx-border-width: 0 0 0 1;
}

.form_Button {
    -fx-background-color: #EEEEEE;
    -fx-font-size: 1.5em;
    -fx-font-family: "times new";
    -fx-text-fill: #4e4406;
}

.ComboBox {
    -fx-background-color: white;
    -fx-background-radius: 14 14 14 14;
    -fx-text-fill: black;


    -fx-pref-width: 250;
    -fx-font-size: 2.0em;
}

.Button123 {
    -fx-background-color: white;
    -fx-background-radius: 14 14 14 14;
    -fx-text-fill: #4e4406;
    -fx-font-size: 2.0em;
}

.Button1234 {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}